<div class="card text-center mt-4 mb-4" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h3>
    <p class="card-text"><%= @user.email %></p>
  </div>
</div>

<% if @user.stocks.any? %>
  <div class="row">
    <div class="col-9">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @user.stocks.each do |stock| %>
            <tr>
              <th><%= stock.ticker %></th>
              <td><%= stock.name %></td>
              <td><%= stock.last_price %></td>
              <td><%= link_to 'Add to my portfolio?', add_stock_of_a_friend_path(id: @user, ticker: stock.ticker),
                                                       method: :post, class: "btn btn-sm btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <p>This person is not tracking any stocks.</p>
<% end %>
